@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcfcfc;
  --background2: #f5f5f7;
  --foreground: #363636;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Helvetica, sans-serif;
}

.cen {
  @apply flex items-center justify-center;
}
.btn {
  @apply gap-2 py-1 px-3 shadow-sh cen rounded-md;
}
.gridDiv{
  @apply shadow-sh size-10 rounded-lg bg-slate-800;
}