@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcfcfc;
  --background2: #f5f5f7;
  --foreground: #363636;
  --accent: #14591d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background2);
  font-family: "Inter", Helvetica, sans-serif;
}

.cen {
  @apply flex items-center justify-center;
}
.btn {
  @apply gap-2 py-1 px-3 dark:bg-white cen rounded-md shadow-sh  focus:outline-none;
}
.gridDiv {
  @apply shadow-sh size-10 rounded-lg bg-slate-800;
}
.txt {
  letter-spacing: -7px;
}
@media (max-width: 768px) {
  .txt {
    letter-spacing: -1px;
  }
}
